*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.wrap{
    margin: auto;
}

p{
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-bottom: 20px;
}
h2{
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;




}

/*EDITANDO CABECERA */

.cabecera{

    position: relative;

}
.cabecera  h1, .cabecera h2{
    position: absolute;
    color: white;
    
}

.figura img {
    width: 100%;
}

.cabecera  h1 {

    top: 10%;
    left: 50%;
    font-size: 5rem;
}
.cabecera  h2{
    bottom: 30%;
    left: 10%;
    line-height: 2.2rem;
    margin-bottom: 0;
    text-align: left;
    border-radius: 10px;
    background-color: #7299FE80;
    font-size: 2.8rem;
    opacity: 0.4;
    padding: 22px 19px;
    border-radius: 10px;
}
/***************END DE CABECERA**********************/


/* SECCION SOBRE MI*/

.sobre-mi {
    display: flex;
    flex-direction: column;
    background-color: #7299FE80;
    padding: 30px 40px 70px 40px;
}


.sobre-mi button{
    width: 187px;
    height: 62px;
    background-color: #D16FFF;
    color: white;
    border: none;
    font-size: 2.2rem;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/***************END DE SECCION**********************/

/*SECCION DE HABILIDADES*/

.mis_skills{
    padding: 30px 40px 40px;
    background-color: #9022FF;
}
.mis_skills p{
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.skills_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skills{
    width: 40%;
    margin-bottom: 20px;
    margin-right: 30px;
}
.progress{
    position: relative;
    height: 20px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    
}
.fondo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 45%;
    height: 100%;
    border-radius: 10px;
    background-color: #57EFF9;
}

/***************END DE SECCION**********************/

/*SECCION PORTAFOLIO*/

.portafolio {
    

}

.portafolio {
    display: flex;
    flex-wrap: wrap;
}